@import '~typeface-righteous/index.css';

.text-surpresa {
    text-align: justify;
    font-family: 'Righteous', sans-serif;
    font-size: 30px;
    font-weight: regular;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

.surpresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #FEF7FF;
}

.button-surpresa {
    border: none;
    border-radius: 50px;
    padding: 20px 80px;
    background-color: #6750A4;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
}

.column1{
    display:flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 20px;
}

.column2{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 200px;
}

.conjunto{
    display: flex;
}