@import '~typeface-righteous/index.css';

.text-about {
    text-align: justify;
    margin-top: 40px;
    font-family: 'Righteous', sans-serif;
    font-size: 26px;
    font-weight: bold;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #FEF7FF;
}
