@import '~typeface-righteous/index.css';

.triste {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background-color: #FEF7FF;
}

.imagem-triste{
    display: flex;
}

.text-triste{
    text-align: justify;
    font-family: 'Righteous', sans-serif;
    font-size: 30px;
    font-weight: regular;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

.text-triste2{
    text-align: justify;
    font-family: 'Righteous', sans-serif;
    font-size: 25px;
    font-weight: regular;
    margin-top: 20px;
}

.column-triste1,
.column-triste2 {
    flex-grow: 1; /* Ocupar o espaço disponível igualmente */
}

.column-triste1{
    display:flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 20px;
}

.column-triste2{
    display:flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 20px;
}

.conjunto-triste{
    display: flex;
}