@import '~typeface-righteous/index.css';

.text-dicas {
    text-align: justify;
    font-family: 'Righteous', sans-serif;
    font-size: 30px;
    font-weight: regular;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

.text-dicas-h2 {
    text-align: justify;
    font-family: 'Righteous', sans-serif;
    font-size: 25px;
    font-weight: regular;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.dicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #FEF7FF;
}

.imagem-dicas{
    display: flex;
}

.column3{
    display:flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 20px;
}

.column4{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 200px;
}

.conjunto1{
    display: flex;
}

.button-dicas {
    border: none;
    border-radius: 50px;
    padding: 20px 80px;
    background-color: #6750A4;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
}

.button-dicas2 {
    border: none;
    border-radius: 50px;
    padding: 20px 80px;
    background-color: #6750A4;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 70px;
}

.text-dicas-botao {
    text-align: center;
    font-family: 'Righteous', sans-serif;
    font-size: 20px;
    font-weight: regular;
}