html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar-button {
    border: none;
    background-color: transparent;
    margin: 0;
    margin-top: 30px;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #6750A4;
    border-radius: 0 10px 10px 0; /* Arredonda apenas o lado direito */
}


.sidebar-button.first {
    margin-top: 30px;
    margin-bottom: 30px; /* ou margin-top, ajuste conforme necessário */
    margin-left: 35px;
}

.sidebar-button.rest {
    margin-top: 15px; /* ou margin-top, ajuste conforme necessário */
    margin-left: 35px;
}

.icon-text {
    text-align: center;
    font-family: 'Rigtheous', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}
