html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar-button {
    border: none;
    background-color: transparent;
    margin: 0;
    margin-top: 30px;
}

.sidebar {
    z-index: 2; /* Valor maior que o z-index da página */
    position: fixed; /* Alterado para fixed para manter a posição ao rolar */
    left: 0;
    top: 0;
    bottom: 0; /* Estende a sidebar até o final da página */
    width: 250px; /* Largura inicial da sidebar, ajuste conforme necessário */
    background-color: #6750A4;
    border-radius: 0 10px 10px 0; /* Arredonda apenas o lado direito */
    overflow-y: auto; /* Adicionado para rolar se o conteúdo for maior que a altura */
}


.sidebar-button.first {
    margin-top: 30px;
    margin-bottom: 30px; /* ou margin-top, ajuste conforme necessário */
    margin-left: 35px;
}

.sidebar-button.rest {
    display: flex;
    align-items: center;
    margin-top: 15px; /* ou margin-top, ajuste conforme necessário */
    margin-left: 35px;
}

.sidebar-button.last {
    display: flex;
    align-items: center;
    margin-top: 400px; /* ou margin-top, ajuste conforme necessário */
    margin-left: 35px;
}

.icon-text {
    text-align: center;
    font-family: 'Rigtheous', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}
